<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li ng-class="{active: state === 'exchangeMonitor'}">
            <a href="#!/exchangeMonitor"><i class="fa fa-bar-chart-o"></i> <span class="name">Exchange Stats</span></a>
        </li>
        <li ng-class="{active: state === 'coinsVisibility'}">
            <a href="#!/coinsVisibility"><i class="fa fa-btc"></i> <span class="name">Coins Visibility</span></a>
        </li>
    </ul>
    <div id="sidebar-settings" class="settings">
        <span>*We use cookies for better user experience</span>
    </div>
</nav>